.buttonGroup {
	display: flex;
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	background-color: #F0F5F9;
}

.buttonGroup.left {
	flex-direction: column;
	margin-right: 10px;
	height: 120px;
}

.button {
	flex: 1;
	padding: 10px 20px;
	background-color: #F0F5F9;
	color: #333;
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
	font-size: 14px;
}

.buttonGroup.left .button {
	height: 50px;
	padding: 0 10px;
	font-size: 12px;
}

.button:hover {
	background-color: #e6e6e6;
	color: #000;
}

.button.active {
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.button:not(:last-child) {
	border-right: 1px solid #ddd;
}

.buttonGroup.left .button:not(:last-child) {
	border-bottom: 1px solid #ddd;
	border-right: none;
}

@media (max-width: 1000px) {
	.button {
		padding: 5px 10px;
	}

	.buttonGroup.left {
		flex-direction: row;
		height: auto;
		margin-bottom: 5px;
		margin-right: 0;
	}

	.buttonGroup.left .button {
		padding: 5px 10px;
		height: 40px;
		margin-bottom: 5px;
		border-bottom: none;
		border-right: 1px solid #ddd;
	}

	.buttonGroup.left .button:not(:last-child) {
		margin-right: 5px;
	}
}
