.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.box {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	border: solid 1px #ddd;
	padding: 30px 50px 30px 50px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.control {
	display: flex;
	gap: 20px;
	justify-content: end;
	margin-bottom: 30px;
}
